
.new-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.new-question-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.div-question-title,
.div-question-body {
  width: 100%;
  margin-bottom: 2rem;
}

.div-question-title h3,
.div-question-body h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

Field {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

Field:focus {
  border-color: #3bafda;
}

textarea {
  min-height: 150px;
  resize: vertical;
}

.ErrorMessage {
  font-size: 0.9rem;
  color: #ff4d4d;
  margin-top: 0.5rem;
}

// button {
//   /* ... (otras propiedades) ... */
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// }

button:hover:not(:disabled) {
  /* ... (otras propiedades) ... */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.submit-button {
  background-color: $dark-blue;
  transition: all 0.3s ease;
}


textarea {
  min-height: 150px;
  resize: none; /* Deshabilita el cambio de tamaño */
}

.ErrorMessage {
  display: inline-block;
  font-size: 0.9rem;
  color: #ff4d4d;
  background-color: #ffe5e5;
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
}

.div-submit-form {
  margin-top: 1.7rem;
  display: flex;
  justify-content: center;
}

#h-captcha {
  margin-top: 1.6rem;
}

.submit-button {
  width: 60%;
}
