header {
  background: darken($color: white, $amount: 3);
  height: 70px;
  box-shadow: 0 1.5px 3px hsla(0, 0%, 0%, 0.05),
    0 1.5px 6px hsla(0, 0%, 0%, 0.05), 0 3px 12px hsla(0, 0%, 0%, 0.05);
  z-index: 1000000;
  top: 0;
  left: 0;
  z-index: 1000;
}
.div-buttons button {
  width: 5rem;
}

.img-stackoverflow {
  cursor: pointer;
  width: 200px;
}

@media screen and (min-width: 677px) {
  .mobile-logo {
    display: none;
  }
}
@media screen and (max-width: 677px) {
  .img-stackoverflow {
    display: none;
  }
}

.container-header {
  display: flex; /* Agregar esta línea */
  align-items: center; /* Agregar esta línea */
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px 10px 30px;
  max-width: 1400px;
  margin: 0 auto;
}
