header {
  background: #085078;
  box-shadow: 0 1.5px 3px hsla(0, 0%, 0%, 0.05),
  0 1.5px 6px hsla(0, 0%, 0%, 0.05), 0 3px 12px hsla(0, 0%, 0%, 0.05);
  top: 0;
  left: 0;
}


.div-buttons .btn {
  width: 5rem;
}

.img-stackoverflow {
  cursor: pointer;
  width: 200px;
}

.mobile-logo {

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mobile-logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .img-stackoverflow {
    display: none;
  }
}


.container-header {
  position: relative;
  display: flex; /* Agregar esta línea */
  align-items: center; /* Agregar esta línea */
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px 10px 30px;
  //max-width: 1400px;
  margin: 0 auto;
  height: 70px;

}

.icon-menubar {
  font-size: 1.2rem !important;
  margin-bottom: 1rem !important;
  border: 0.1px solid $dark-blue !important;
  border-radius: 4px !important;
  padding: 4px !important;
  color: $dark-blue !important;
  left: 0 !important;
  position: absolute !important;

}


@media screen and (min-width: 768px) {
  .icon-menubar {
    display: none !important;
  }

}

@media screen and (max-width: 768px) {
  .div-buttons .btn {
    height: 2.7rem;
    font-size: 0.8rem;
    min-width: 0;
  }

  .mobile-logo {
    height: 2.6rem;
    margin-bottom: 1.5rem;
  }
  header {
    height: 50px !important;
  }
  .div-buttons {
    margin-bottom: 20px;
  }

}