
.div-login {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 1.25rem;
  background-color: white;
  border-radius: 10px;
  z-index: 10;
}

form button {
  background-color: $dark-blue;
  color: white;
  padding: 0.75rem 1.25rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.img-google {
  width: 15px;
  height: 15px;
  margin-right: 0.25rem;
}

.div-btn-login {
  text-align: center;

  button {
    width: 100%;
  }
}

.form-group {
  padding-bottom: 1rem;
}

.div-login-buttons {
  display: flex;
  justify-content: center;

  button {
    background-color: white;
    color: black;
    padding: 0.75rem 1.25rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
}

.container-login {
  margin: auto;

  //background-color: darken($color: #ffffff, $amount: 5);

}

.div-logo {
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
}

label {
  font-weight: 600;
  font-family: inherit;
}

.div-login-buttons button:hover {
  background-color: darken($color: #ffffff, $amount: 3);
}

form button:hover {
  background-color: darken($color: $dark-blue, $amount: 5);
}

@media (min-width: 468px) {
  .div-btn-login {
    button {
      width: auto;
    }
  }
}

@media (min-width: 495px) {
  .div-login {
    width: 400px;
  }
}

@media (min-width: 595px) {
  .div-login {
    width: 500px;
  }
}


