.dialog {
  position: relative;
}

.close-dialog {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1.3rem;
  color: $dark-grey;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .close-dialog {
    top: -10px;
    right: -20px;
  }
}

.fa-envelope {
  color: $dark-grey;
  margin-right: 5px;
}
@media screen and (max-width: 327px) {
  .dialog-div-login-buttons {
    .div-login-buttons button {
      width: 200px !important;
    }
  }
}
.dialog-div-login-buttons {
  .div-login-buttons {
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column-reverse;
    & button {
      margin-bottom: 5px;
    }
  }
}
