.container-register {
  background-color: darken($color: #ffffff, $amount: 5);
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-top: 1.3em;
  display: flex; /* Añadido */
  align-items: center; /* Añadido */
  justify-content: center;
  height: 100vh;
  z-index: 10;
  // max-width: 800px;
}

.div-info {
  display: none;
}

.div-register {
  background-color: white;
  padding: 1.25em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 884px) {
  .div-info {
    display: block;
  }
}

@media screen and (min-width: 1377px) {
  .div-register {
    width: 460px;
  }
}

@media screen and (max-width: 883px) {
  .div-register {
    width: 460px;
  }
}

@media screen and (max-width: 571px) {
  .div-register {
    width: auto;
  }
}

// @media screen and (min-width: 1000px) {
//   .div-register {
//     flex-basis: 80%;
//     flex-grow: 2;
//   }
// }
