main {
  z-index: 10;
}

.question-info {
  font-size: 0.9rem;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh);
}

.div-questionBody {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.div-questionTitle {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
}

.div-userInfo {
  display: flex;
  justify-content: end;
  width: 100%;
}

.question-info {
  margin-top: -0.625rem;
  margin-bottom: 1.875rem;
}

.container-entries {
  width: 100vw;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 677px) {
  .btn-q {
    width: 100%;
    margin-bottom: 1.25rem;
  }
}

.div-btn-askQuestion {
  margin-bottom: 0.625rem;
}

.three-dots-icon {
  color: $dark-grey;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.three-dots-icon:hover {
  color: darken($dark-grey, 20%);
}

.question-option-user {
  font-size: 0.2rem;
}