main {
  z-index: 10;
}
.question-info {
  font-size: 0.9em;
}
.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh);
}

.div-questionBody {
  font-size: larger;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.div-questionTitle {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.div-userInfo {
  display: flex;
  justify-content: end;
  width: 100%;
}
.question-info {
  margin-top: -10px;
  margin-bottom: 30px;
}
.container-entries {
  width: 100vw;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 677px) {
  .btn-q {
    width: 100%;
    margin-bottom: 20px;
  }
}

.div-btn-askQuestion {
  margin-bottom: 10px;
}
.three-dots-icon {
  color: $dark-grey;
  cursor: pointer;
  font-size: 1.3em;
  transition: all 0.3s ease;
}

.three-dots-icon:hover {
  color: darken($dark-grey, 20%);
}
