* {
  font-family: "Inter", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.mt-1 {
  margin-top: 5px;
}
.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 20px;
}
.pointer {
  cursor: pointer;
}

.m-5 {
  margin: 20px;
}

.p-5 {
  padding: 20px;
}

.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mr-5 {
  margin-right: 20px;
}
.m-auto {
  margin: auto;
}

.bolder {
  font-weight: 100px !important;
}

/* Estilo base */
html {
  font-size: 16px;
}

/* Estilo para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

/* Estilo para pantallas medianas (tabletas) */
@media (min-width: 481px) and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

/* Estilo para pantallas grandes (ordenadores) */
@media (min-width: 1025px) {
  html {
    font-size: 18px;
  }
}
